#basic-nav-dropdown{
    color: white
}
.dropdown-menu{
    width:300px !important
}
.background-header, .bg-dark {
    background-color: #388496!important;
}
.item-change-pass{
    display: flex;
}
.modal-change-pass{
    width: 60% !important;
    margin: auto;
}
.input-change-pass{
    margin-right: 10px;
}