.one-class-teacher{
    padding: 20px;
    border: 2px solid black;
    margin: 15px;
}
.classname{
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.classname a{
    color: #1352c7;
}
.one-class-teacher p, .classname a{
    /* width: 100%;
    height: 50px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.start-delete{
    /* width: 90%;
    
    margin: auto; */
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.title-name{
    font-weight: bold;
}