.contain-paging{
    /* margin-left: 15%; */
    /* margin-top: 100px; */
    margin-bottom: 10px;
    width: 15%;
}
/* .MuiPagination-ul li{
    display: contents;
} */
/* .MuiPagination-ul li path{
    color: white
} */