.monitor-container{
    /* width: 100%;
    position: relative;
    height: 100vh; */
}
.monitor-container .main-monitor{
    width: 60%;
    height: 80%;
    margin: auto;
    margin-top: 6%;
    /* justify-content: space-between; */
    padding: 50px;
    border: 1px solid #e8dbdb;
    box-shadow: 5px 5px 5px 1px rgb(0 0 255 / 20%);
}
.show-cam{
    width: 640px;
    height: 480px;
    margin: auto;
}